@page
@model ProjectModel
@{
    ViewData["Title"] = "Project Policy";
}

<link rel="stylesheet" href="~/css/project.css" />

<h1>@ViewData["Title"]</h1>

<p>This page uses its own stylesheet. Hello.</p>
