@page
@model ProjectModel
@{
    ViewData["Title"] = "Projects";
}

<section id="/Project/Project">
    <h1>Projects</h1>
    <p>Seat Reservation System • Inventory System • Portfolio Website</p>
</section>
