@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<section id="/About/About">
    <h1>About Me</h1>
    <p>I’m a Computer Science graduate who loves coding, UI design, and turning ideas into real applications.</p>
</section>
