/* Footer */
.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98vw;
    background: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(10px);
    color: #0078d7;
    font-weight: 500;
    padding: 8px 20px;
    z-index: 1000;
    font-size: 0.75rem;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
}

/* keep row layout for all screen sizes */
.main-footer-content {
    display: flex;
    align-items: center;
    gap: 16rem;
    white-space: nowrap;
}

.main-footer-content p {
    margin: 0;
    color: #686868;
    font-weight: 600;
}

.main-footer a {
    color: #0078d7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.main-footer a:hover {
    color: #00bcd4;
}

.footer-social {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.footer-btn {
    background: rgba(0, 119, 181, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.7rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

.footer-btn.github {
    background: rgba(36, 41, 46, 0.8);
}

.footer-btn.linkedin {
    background: rgba(0, 119, 181, 0.8);
}

.footer-btn:hover {
    background: white;
    color: inherit;
    border: 1px solid currentColor;
}

.main-footer .highlight {
    font-weight: bold;
    color: #00bcd4;
}

/* Mobile view */
@media (max-width: 768px) {
    .main-footer {
        justify-content: flex-start;
        font-size: 0.6rem;
        padding: 8px 10px;
        gap: 6px;
        overflow: hidden;
    }

    .main-footer-content {
        display: inline-flex;
        gap: 20px;
        animation: scrollFooter 20s linear infinite;
    }

    @keyframes scrollFooter {
        0% {
            transform: translateX(35%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .footer-btn {
        font-size: 0.55rem;
        padding: 4px 8px;
    }

    .main-footer p {
        margin: 0 10px 0 0;
        white-space: nowrap;
    }
}
