@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<section id="/Contact/Contact">
    <h1>Contact</h1>
    <p>Email: kellysoberano@example.com</p>
    <p>LinkedIn: linkedin.com/in/kellysoberano</p>
</section>
