@page
@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<section id="/Home/Home">
    <h1>Hello, I'm <span style="color:#0078d7;">Kelly S. Soberano</span></h1>
    <p>Welcome to my horizontal portfolio! Scroll right ➡️ to explore more.</p>
</section>
