@page
@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<div style="text-align:center; margin-top:50px;">
    <h1>Welcome to My Portfolio 👋</h1>
    <p>Hi! I’m <strong>Kelly Soberano</strong>, a Computer Science graduate and web developer.</p>
    <a href="/About" style="color:#0078D7; text-decoration:none;">About Me</a>
</div>
